# IDE
.idea/
.vscode/
*.iml
*.iws
.project
.classpath
.settings/

# Build
target/
*.class
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Local JDK
.jdk/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Package Files
*.war
*.ear
*.zip
*.tar.gz
*.rar
